.teste{
    display: flex;
    flex-direction: column;
}
.coluna1{
    display: flex;
    align-items: center;
    flex-direction: row;

}
.coluna2{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.coluna3{
    display: flex;
    align-items: center;
    flex-direction: row;
}